{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>
            {% if object.img %}
            <img src="{{ object.img.url }}" alt="{{ object.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ object.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Описание</h3>
            <p>{{ object.description }}</p>

            <ul>
            {% for shop in shops %}
                <li><a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}